.one {
  font-size: 15px;
  border: 1px solid grey;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
}
span {
  font-size: 20px;
  position: absolute;
  right: 5px;
  font-weight: 900;
  cursor: pointer;
}
h3 {
  display: inline;
}
a {
  color: red;
  cursor: pointer;
}
