.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  border-radius: 5px;
}
.header {
  flex: 2;
  text-align: left;
  justify-self: flex-start;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: rebeccapurple;
  font-weight: 550;
}
img {
  border-radius: 50% 50%;
}
.icon {
  margin: 0 10px;
  justify-self: flex-end;
}
button {
  justify-self: flex-end;
  margin: 0 10px;
}
.wrapper {
  width: 97vw;
  background: rgb(197, 207, 255);
}
